* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: palevioletred;
    

}
head h1{
    background-color: aqua;
}

#header{
    width: 100%;
    height: 100vh;
}

.container{
    padding: 10px 10%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav {
    background-color: whitesmoke;
    text-align: center;
}



nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition : 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}    

#about{
    padding: 80px 0;;
}



.about-1{
    flex-basis: 35%;
}
.about-1 img{
    width: 50%;
    border-radius: 15px;

}
.about-2{
   
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;

  
  
   
}
#Education{
    padding: 30px 0;
}
#Skills{
    padding: 30px 0;
}
#Resume{
    padding: 30px 0;
}
.btn{
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
}
.btn:hover{
    background-color: #555;
}







    
    




